.fjs-container {
  display: flex;
}

.fjs-col {
  width: 200px;
  min-height: 200px;
  max-height: 600px;
  overflow-y: auto;
  border-right: solid 1px lightgray;
  border-top: solid 1px lightgray;
  border-bottom: solid 1px lightgray;
}

.fjs-item {
  padding: 5px;
}

.fjs-item.fjs-active {
  background-color: lightgray;
  color: white;
}

.fjs-col:first-of-type {
  border-left: solid 1px lightgray;
}

.fjs-col:nth-last-child(2) .fjs-item.fjs-active,
.fjs-col:last-child .fjs-item.fjs-active {
  background-color: dodgerblue;
}

.fjs-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

