.site {
  color: #404040;
  display: flex;
  flex-direction: column;
  font: 400 1em/1.4 "Lucida Grande", Arial, Verdana, sans-serif;
  margin: 0;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
}

.site-content {
  flex: 1;
  padding: 0 0 3em;
}

a {
  color: #00aced;
}

a:hover {
  color: #007CAB;
}

a .fa {
  padding-right: 5px;
}

.header {
  background-color: #ECECEC;
  padding: 4rem 0 2rem 0;
  text-align: center;
}

.header .main-title {
  font-size: 3em;
  letter-spacing: -.075em;
  margin: 0;
}

.header .main-title span {
  font-weight: lighter;
  text-transform: uppercase;
}

.fa-tree {
  color: green;
}

.header .sub-title {
  font-size: .95em;
  font-weight: 300;
  margin: .5em 0 1em;
}

.header .actions {
  display: flex;
  font-size: .9em;
  justify-content: center;
  margin: 2em 0 0 0;
}

.header .actions .btn {
  margin-right: 1em;
}

.header .actions .btn .fa {
  font-size: 1.3em;
}

.btn {
  background-color: #D8D8D8;
  border-radius: 2px;
  color: #404040;
  padding: .6em 2em;
  text-decoration: none;
  transition: background-color .2s;
}

.btn:hover{
  background-color: #B5B5B5;
  color: black;
}

.btn-hi {
  background-color: #333;
  color: white;
}

.btn-hi:hover {
  background-color: #4078c0;
  color: white;
}

.btn .fa-twitter {
  color: #00aced;
}

nav {
  font-size: .9em;
  margin: 2em 0 0 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  padding: 0 10px;
}

section {
  padding: 2em 1.5em 3em 1.5em;
}

section .sub-title {
  margin: 0 0 1em;
}

section:nth-child(2n) {
  background: #ECECEC;
}

.footer {
  background: #565656;
  color: #ABABAB;
  font-size: .85em;
  padding: 1.5rem;
  text-align: center;
}

.footer .links {
  padding: 0 0 1em;
}

.footer a {
  color: white;
}

.footer p {
  margin: 0 0 .5em;
}

.fa-external-link {
  font-size: .7em;
  margin-left: 4px;
  vertical-align: middle;
}

.twitter-follow-button {
  margin-left: 15px;
}

code {
  background: #f8f8f8;
  border: solid 1px #d9d9d9;
  display: block;
  padding: 2em 1.5em;
}

pre {
  margin:0;
  padding:0;
}
